 <div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       <% avatar_url = @user.avatar_url(128) %>
       <% if avatar_url %>
         <div class="media-left">
           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <small>
           <%= pluralize(@user.posts.count, 'post') %>,
           <%= pluralize(@user.comments.count, 'comment') %>
         </small>
       </div>
     </div>
   </div>
 </div>

 </br>
 <% if has_posts? %>
  <h2>Posts</h2>
  <%= render @user.posts %>
 <% else %>
  <div><%= "#{@user.name} has not submitted any posts yet." %></div>
 <% end %>
 
 </br>
 <% if has_comments? %>
  <h2>Comments</h2>
  <%= render @user.comments %>
 <% else %>
  <div><%= "#{@user.name} has not submitted any comments yet." %></div>
 <% end %>
 
 </br>
 <% if has_favorites? %>
  <h2>Favorites</h2>
  <% @user.favorites.each do |favorite| %>
   <%= render partial: "favorites/favorited_post", locals: { post: favorite.post } %>
  <% end %>
 <% end %>